<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cn.niuma.niuma_player">
  <!-- DLNA SSDP UDP 多播——SDK 投屏内置需要 -->
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
